# Entorno
NODE_ENV=production

# Puerto local
PORT=4000

# Base de datos Supabase / PostgreSQL
# En Render se recomienda usar DATABASE_URL
DATABASE_URL=postgresql://usuario:password@host:puerto/base_de_datos

# Alternativa para conexión separada local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=casarealhuespedes
DB_USER=postgres
DB_PASSWORD=tu_password

# Seguridad JWT
JWT_SECRET=coloca_una_clave_larga_y_segura

# Frontend permitido por CORS
FRONTEND_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret