# Entorno
NODE_ENV=production

# Render asigna PORT automáticamente.
# Se utiliza 4000 solamente en desarrollo local.
PORT=4000

# Supabase / PostgreSQL
DATABASE_URL=postgresql://usuario:password@host:5432/postgres

# Alternativa exclusivamente local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=casarealhuespedes
DB_USER=postgres
DB_PASSWORD=tu_password

# Seguridad
JWT_SECRET=coloca_una_clave_larga_y_segura

# Frontend real en Vercel
FRONTEND_URL=https://casa-huespedes-proy.vercel.app

# Culqi real
CULQI_PAYMENT_URL=https://express.culqi.com/pago/A863017EB2

# Correo real del hospedaje
HOTEL_NOTIFICATION_EMAIL=casadehuespedespimentel2023@gmail.com

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=casadehuespedespimentel2023@gmail.com
SMTP_PASS=contraseña_de_aplicacion_de_google
EMAIL_FROM="Casa Huéspedes Pimentel <casadehuespedespimentel2023@gmail.com>"

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret